.home {
  display: flex;
  padding-top: 1.5rem;
  padding: 100px 150px;
  font-family: "DM Sans", sans-serif;
  min-height: 50vh;
  justify-content: center;
  gap: 100px;
  margin: 50px 50px 0 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: #0d1013 solid;
  border-radius: 5px;
  overflow: hidden;
}
.intro {
  padding: 20px;
}
.welcome {
  color: #ffe8db;
  text-transform: uppercase;
  font-weight: bold;
}

.name {
  color: #ffe8db;
  font-size: 48px;
  display: flex;
  gap: 8px;
}
.name span {
  color: #ff0000;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid currentColor;

  width: 0%;
  animation: cursor 1s step-end infinite, typing 5s steps(14) infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.skill {
  font-weight: bold;
  color: #b3ccff;
  margin-bottom: 10px;
  overflow: hidden;
}

.pic img {
  width: 400px;
  border-radius: 50%;
}
.description {
  color: #ffe8db;
  margin-bottom: 40px;
}
.link {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}
.block img {
  width: 80px;
}
@media (max-width: 1100px) {
  .home {
    flex-direction: column;
    height: 100%;
    padding: 20px;
    justify-content: center;
  }

  .intro {
    text-align: center;
  }
  .name {
    text-align: center;
    justify-content: center;
  }
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
  }
  .profile {
    display: flex;
    justify-content: center;
  }
  .pic img {
    width: 300px;
  }
  .link {
    justify-content: center;
  }
  .block img {
    width: 50px;
  }
}
