* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #141619;
}
#nav_logo {
  margin-top: 20px;
  padding: 5px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #141619;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-between;
  height: 122px;
  z-index: 1;
  width: 100%;
  max-width: auto;
  margin: auto 0;
  padding: 0 50px;
}

.navbar_menu {
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}
.nav_button {
  background-color: #ff0000;
  border-radius: 20px;
  box-shadow: var(--shadow-1);
  padding: 10px 20px;
  color: #c7cfda;
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.nav_button:hover {
  color: whitesmoke;
  transition: color 1s ease;
}

.nav_link:hover {
  color: #ff0000;
  transition: color 0.5s ease-out;
}

.nav_link::after,
.nav_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  background: linear-gradient(to right, #ff0000);
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease ease-out;
}

.nav_link:hover::after,
.nav_link:hover::before {
  transform: scaleX(1);
}

.nav_link {
  font-size: 20px;
  color: #ffe8db;
  display: flex;
  text-decoration: none;
  position: relative;
  list-style: none;
}

#skill {
  scroll-behavior: smooth;
}
@media (min-width: 1500px) {
  .container {
    justify-content: center;
    gap: 250px;
  }
}
@media (max-width: 925px) {
  .navbar_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -300px;
    height: 80%;
    width: 280px;
    padding-top: 20px;
    text-align: center;
    backdrop-filter: blur(12px);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
  }
  .navbar_menu .item {
    padding: 15px;
    text-decoration: none;
    color: #ffe8db;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    margin: 10px 20px;
    transition: all 0.3s ease;
  }
  .navbar_menu a:hover {
    color: #ff0000;
    transform: scale(1.05);
  }
  .navbar_menu.active {
    right: 0;
  }

  .navbar_toggle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  .navbar_toggle span {
    display: flex;
    width: 30px;
    height: 3px;
    background: #ffe8db;
    border-radius: 2px;
    transition: 0.5s;
  }

  .navbar_toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .navbar_toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar_toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

@media (max-width: 990px) {
}
